# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL = '$'
DATABASE_URL="postgresql://USER:PASSWORD@YOUR-PROJECT-pooler.REGION.aws.neon.tech/DB_NAME?sslmode=require&channel_binding=require&connect_timeout=15&pool_timeout=15"
