# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL = '₦'
DATABASE_URL="postgresql://USER:PASSWORD@YOUR-PROJECT-pooler.REGION.aws.neon.tech/DB_NAME?sslmode=require&channel_binding=require&connect_timeout=15&pool_timeout=15"
IMAGEKIT_PUBLIC_KEY=""
IMAGEKIT_PRIVATE_KEY=""
IMAGEKIT_URL_ENDPOINT="https://ik.imagekit.io/YOUR_IMAGEKIT_ID"
IMAGEKIT_TIMEOUT_MS="20000"
IMAGEKIT_MAX_RETRIES="0"
